<% include ../partials/header %>
<header class = "jumbotron">
    <div class = "container">
        <h1>Welcome to HotelPedia!</h1>
        <p>Some of the World-Class Hotels</p>
        <p>
            <a class = "btn btn-primary" href = "/hotels/new">Add a new Hotel</a>
        </p> 
        <p>
            <form action="/hotels" method="GET" class="form-inline">
                <div class="form-group">
                    <input class="form-control" type="text" name="search" placeholder="Search Hotel..."></input>
                    <input class="btn btn-default" type="submit" value="Search" ></input>
                </div>
            </form>
        </p>
    </div>
</header> 
<div class = "row text-center" style = "display: flex flex-wrap: wrap">
    <div class = "col-lg-12">
        <h3>View Our Most Popular Hotels</h3>   
        <% if(noMatch !== null) { %>
            <h5><%= noMatch %></h5>
        <% } %>
    </div>
    <% hotels.forEach(function(hotel) { %>
        <div class = "col-md-3 col-sm-6">
            <div class = "thumbnail">
                <img src = "<%= hotel.image %>">
                <div class = "caption">
                    <h4><%= hotel.name %></h4>
                </div>
                <p>
                    <a class="btn btn-primary" href="/hotels/<%= hotel._id %>">More Info</a>
                </p>
            </div>
        </div>
    <% }); %>
</div>
<% include ../partials/footer %>